<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home - JijiCart</title>
</head>
<body>
<h1>Welcome to JijiCart!!</h1>
<a href="{% url 'gallery' %}" target="_blank">Gallery</a>
<br>
<a href="{% url 'services' %}" target="_blank">Services</a>
<p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus atque consequatur cum dolor doloribus eaque explicabo ipsam iste maiores nisi numquam odio possimus suscipit unde, vel velit voluptas voluptatibus! Dicta!</span><span>Et illo iusto maiores quia rerum sed velit! Aliquid consequuntur delectus deserunt inventore, necessitatibus omnis qui soluta tempora totam voluptatum. Blanditiis consequuntur minima mollitia nemo nesciunt repellat, ullam unde velit.</span><span>Aliquam aliquid at atque in ipsam libero, molestiae nam non officia quos reprehenderit veniam, voluptates. Assumenda, quidem, sit? A adipisci autem culpa earum hic quis reiciendis suscipit unde. Dolorum, facere!</span></p>
<button>Shop now!!</button>
</body>
</html>