<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Services - JijiCart</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
</head>
<body>
    <h1 class="text-center text-danger">Our Services</h1>
    <a href="{% url 'home' %}" target="_blank">Home</a>
    <br>
    <a href="{% url 'gallery' %}" target="_blank">Gallery</a>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Exercitationem perferendis quis illum nisi. Ducimus aspernatur quos sit voluptas. Excepturi, iste ut. Corporis, tenetur autem? Facere, excepturi officia! Alias, quam iure?
    Ut neque alias dicta nostrum ab dolorem aut ducimus, dolore minus atque sit animi, cupiditate odio veritatis sequi amet? Exercitationem autem adipisci optio quo repellat placeat consequatur voluptas ducimus fugit.
    Consectetur consequuntur eaque nostrum, laudantium assumenda non omnis. Nihil fugit ullam cum id vitae quibusdam et veniam, perspiciatis, ducimus velit aperiam magnam itaque voluptatum, quas ipsam ut sit dolore provident?</p>
    <button class="btn btn-outline-danger">Get Started</button>
</body>
</html>